{{> header}}
{{> navadmin}}

<div class="container mt-3 mb-2">
    {{#if message}}
        <div class="alert alert-{{message.type}} mt-5 mb-3" role="alert">
            {{message.message}}
        </div>
    {{/if}}
</div>

<!-- Breadcrumb Begin -->
    <div class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__links">
                        <a href="/"><i class="fa fa-home"></i> Home</a>
                        <span>Transaction</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->

    <!-- Shop Section Begin -->
    <section class="shop spad">
        <div class="container">

                <div class="card mb-4">
                    <div class="card-body">
                        <h4>Transaction</h4>
                        <table class="table table-hover mt-3">
                            <thead>
                                <tr class="text-center">
                                    <th>User</th>
                                    <th>Status</th>
                                    <th>Qty</th>
                                    <th>Address</th>
                                    <th>Total</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each detail}}
                                <tr>
                                    <td class="text-center">{{this.email}}</td>
                                    <td class="text-center">
                                        <h5><span class="badge badge-info">{{this.status_trsc}}</span></h5>
                                    </td>
                                    <td class="text-center">{{this.qty}}</td>
                                    <td class="text-center">{{this.address}}</td>
                                    <td class="text-center">{{this.sub_total}}</td>
                                    <td class="text-center">
                                        <a href="/update-transaction/{{this.id_trs}}" class="btn btn-warning">Update</a>
                                        <a href="/delete-trans/{{this.id_trs}}" class="btn btn-danger">Delete</a>
                                    </td>
                                </tr>
                                {{/each}}  
                            </tbody>
                        </table>
                    </div>
                </div>
           
        </div>
    </section>
    <!-- Shop Section End -->


{{> footer}}